    
<!DOCTYPE html>
<html lang="en">

  
    <!-- Header -->
    <div>
        @await Html.PartialAsync("_Header")
    </div>

    <body>

    <!-- NavBar -->
    <div>
        @await Html.PartialAsync("_NavLogin")
    </div>

    <!-- Include the message partial view here -->
    @await Html.PartialAsync("_Message")

<!-- Appointment Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="bg-light rounded d-flex align-items-center p-5 mb-4">
                        <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-white" style="width: 55px; height: 55px;">
                            <i class="fa fa-phone-alt text-primary"></i>
                        </div>
                        <div class="ms-4">
                            <p class="mb-2">Get in Touch</p>
                            <h5 class="mb-0">+012 345 6789</h5>
                        </div>
                    </div>
                    <div class="bg-light rounded d-flex align-items-center p-5">
                        <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-white" style="width: 55px; height: 55px;">
                            <i class="fa fa-envelope-open text-primary"></i>
                        </div>
                        <div class="ms-4">
                            <p class="mb-2">Contact Us Today</p>
                            <h5 class="mb-0">crm@info.com</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="bg-light rounded h-100 d-flex align-items-center p-5">
                        <form method="post"  asp-action="#" asp-controller="#">
                        <center>
                            <h4>Login</h4>
                            <div class="row g-3">
                                <div class="col-12 ">
                                    <input type="number" class="form-control border-0" placeholder="phone number" style="height: 55px;" name="numero" id="numero">
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Log In</button>
                                </div>
                            </div>
                        </center>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Appointment End -->


    <!-- Footer -->
    <div>
        @await Html.PartialAsync("_Footer")
    </div>

    </body>

</html>